dll32 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x32\\7z.dll"
dll64 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x64\\7z.dll"
7e32 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x32\\7z.exe"
7e64 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x64\\7z.exe"
mysql64 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x64\\mysql.exe"
mysql32 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x32\\mysql.exe"
mysqldump32 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x32\\mysqldump.exe"
mysqldump64 RCDATA "..\\..\\AutoBackup_Complementos\\Windows x64\\mysqldump.exe"
